body {
    margin: 0px;
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    gap: 60px;
    justify-items: center;
    margin-top: 60px;
}
p {
    font-size: 1.25rem;
    line-height: 1.3;
}

p, h1, h2, h3 {
    margin: 0px;;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    display: block;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu a{
    background-color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #111;
    margin: 20px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
    border: 2px solid transparent;
}

.menu a:hover {
    border-color: #e21;
}

header{
    display: grid;
    justify-items: center;
    gap: 60px
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.introducao {
    background-color: #fff;
    padding: 40px;
    text-align: right;
    position: relative;
    display: grid;
    align-content: center;
    gap: 20px;
    justify-items: end;
}

.introducao h1 {
    font-size: 2rem;
}

.introducao::before {
    content: "";
    width: 60px;
    height: 4px;
    background-color: #e21;
    position: absolute;
    top: 30px;
    right: -30px;
}

.botao {
    background: #e21;
    color: #fff;
    padding: 20px;
    border-radius: 4px;
    text-decoration: none;
}

.botao:hover {
    background-color: tomato;
}

.subtitulo {
    font-size: 64px;
    color: rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: right;
    padding: 40px;
    align-self: center;
}

.vantagens {
    background-color: #fff;
    padding: 40px;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
    border-left: 4px transparent solid;

}

.vantagens-item:nth-child(odd) {
    background-color: #f7f7f7;
}

.vantagens-item p {
    grid-column: 2;
}

.vantagens-item:hover {
    border-left: 4px red solid;
}

.rodape {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}